body {
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Style for login container */

.login-container {
  display: flex;
    justify-content: space-between;
    align-items: center;

}

.register-here-text {
  font-family: "Poppins", sans-serif;
  font-size: small;
  margin-bottom: 28px;
}

.font-face-gm {
  font-family: "PoppinsRegular";
}

/* Style for login form */
.login-form {
  width: 50%;
  min-width: 20vw; /* Set a minimum width for the form */
  min-height: 70vh; /* Set a minimum height for the form */
 
  background-color: #d9d9d9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
 
  align-self: center; /* Vertically center the form */
 
}

/* Style for login image */
.login-image {
  width: 50%; 
  box-shadow: none; align-self: center; /* Vertically center the form */
  background-color: transparent;
  /* Use the radial-gradient function with different percentage values for width and height */
  background: radial-gradient(
    ellipse 50% 65% at center,
    #678ebd 20%,
    #1b4375 80%
  );
}

.signin-txt {
  font-weight: bolder;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  padding-bottom: 14px;
}

.navbar-signin {
  display: flex;
  justify-content: flex-end;
  position: relative;
  background-color: transparent; /* Make navbar transparent */
  order: 2;
  padding-right: 10px;
}

.navbar-logo-signin img {
  height: 40px;
  margin-right: 10px;
  margin-top: 30px;
}

.no-account {
  font-family: "Poppins", sans-serif;
  margin-bottom: 4px;
  font-size: small;
  padding-bottom: 6px;
}

.register-here {
  font-family: "Poppins", sans-serif;
  color: #0c21c1;
  font-size: small;
  font-weight: 600;
  cursor: pointer;
}

.inpt-label {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: x-small;
  color: #000842;
  margin-top: 10px;
  padding-bottom: 20px;
}

.login-image img {
  display: block;
  width: 100%;
  border-radius: 10px;
}

.frgt-pass {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: x-small;
  display: flex;
  vertical-align: middle;
  padding: 0;
  margin-bottom: 36px;
  justify-content: space-between; /* Add space between elements */
}

.signin-switch {
  font-family: "Poppins", sans-serif;
  font-style: oblique;
  height: 40px;
  border-radius: 50;

  margin-left: 80px;
  margin-right: 80px;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.chkbox {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
}

.input-field-style {
  width: 100%;
  padding: 4px;
  margin-bottom: 10px;
  border: 0;
  outline: 0;
  color: #000842;
  border-bottom: 1px solid #000842;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-size: small;
  box-sizing: border-box;
  margin-bottom: 20px;
  color: #000842;
  background-color: #d9d9d9;
  border-radius: 0; /* Remove border-radius or set it to 0 for straight edges */
}

/* Style for input wrapper */
.input-wrapper {
  position: relative;
  margin-top: 10px;
  margin-bottom: 6px;
}

/* Style for input icon */
.input-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-130%);
  color: #666;
}

/* Style for password toggle icon */
.password-toggle-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-130%);
  color: #666;
  cursor: pointer;
}



/* Ensure consistent spacing between input fields */
.input-wrapper + .input-wrapper {
  margin-top: 10px;
}

.input-field-style {
  width: calc(100% - 30px); /* Adjust width to accommodate icons */
  padding-left: 30px; /* Adjust left padding to prevent text from overlapping with icon */
  box-sizing: border-box; /* Ensure padding is included in the width calculation */
}

/* Add padding for entered text */
.input-field-style[type="text"],
.input-field-style[type="email"],
.input-field-style[type="password"] {
  padding-left: 30px; /* Adjust the padding as needed */
}
/* Add padding before placeholder */
.input-field-style::placeholder {
  padding-left: 0px; /* Same as the left padding of the input field */
}


.error-message{
  color: red;
  font-size: small;
  padding: 0px;
}
