.image-corner-left-currentstream {
    position: absolute;
    bottom: 0;
    left: 180px;
  }
  
  .image-corner-left-currentstream img {
    width: 300px; /* Make the image responsive */
    max-width: 400px; /* Ensure the image does not exceed its container */
    height: auto; /* Maintain aspect ratio */
    opacity: 0.8;
  }

  .stream-card-container-currentstream {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
  }
  
  .stream-card-currentstream {
    width: 745px;
    height: 360px;
    /* padding: 20px; */
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
  }

  .new-stream-button {
    position: relative;

    background-color: #E5E5E5;
    color: black;
    width: fit-content;
    /* left: 450px; */
    /* border: none; */
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    
    cursor: pointer;
    display: block;
    z-index: 999;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

.new-stream-button:hover {
    background-color: #a8a7a7;
    
}

.activeButton {
  background-color: #1B4375;
  border-radius: 35px;
  height: 36px;
  width: 200px;
  border: none;
  transition: 0.5s ease;
  cursor: pointer;
  color: #E5E5E5;
  font-size: 14px;
}

.inactiveButton {
  background-color: #E5E5E5;
  border-radius: 35px;
  height: 36px;
  width: 200px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}
.toggle-button-bg{
    position: relative;
    border-radius: 35px;
    height: 36px;
    background-color: #E5E5E5;
    width: 250px;
    display: flex;
    justify-content: center;
    padding: 7px;
    /* font-size: 20px; */
}

.stream-buttons{
    display: flex;
    justify-content: center;
}

.logo-placeholder {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #CADBEC;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    /* border-style: dashed;  */
     overflow: hidden;
    /* width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 40px;
    margin-top: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
    color: white;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); */
  }
  
  .logo-placeholder img {
    /* max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    font-size: 12px; */
    /* width: 200px;
    height: 200px;
    object-fit: cover;
    color: white; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    color: white;
  }

  .logo-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
 }
 .edit-column {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    width: 181px;
 }
 .column-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 472px;
 }

 .download-buttons-pdf {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    padding: 0 10px;
  }

  .download-buttons-pdf button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }

  .download-buttons-qr {
    display: flex;
    justify-content: space-between;
    /* margin-top: 200px; */
    padding-right: 47px;
  }

  .download-buttons-qr button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }

  .image-download-wrapper {
    position: relative; /* Establishes a positioning context for absolute positioning inside */
    width: 125px; /* Set width of the container */
    height: 125px; /* Set height of the container */
    display: flex; /* Ensures content is properly aligned */
    justify-content: center; /* Center contents horizontally */
    align-items: center; /* Center contents vertically */
    margin-top: 130px;
    margin-bottom: 20px;
}

.qr-image {
    width: 125px; /* Make the image fill the container */
    height: 125px; /* Make the image fill the container */
    object-fit: cover; /* Cover the area without losing aspect ratio */
    /* border-radius: 50%; Optional: if you want the image to be round */
}

.download-qr-button {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px;
  /* margin: 10px; */
  /* background-color: transparent; Optional: makes the button background transparent */
  border: none; /* Optional: removes the button border */
  cursor: pointer; /* Changes cursor to pointer on hover */
}

.download-qr-button img, .download-qr-button svg {
  width: 15px; /* Adjust icon size as needed */
  height: 15px; /* Adjust icon size as needed */
} 

  .semi-circle {
    width: 140px; /* This should be the diameter of the circle you want to create */
    height: 70px; /* Half of the width to create a perfect semi-circle */
    background-color: #007bff;
    border-radius: 0 0 70px 70px; /* Apply border-radius to only the bottom corners */
    margin-bottom: 10px;
    overflow: hidden;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}


.streamname-from-database {
    margin-bottom: 10px;
    margin-top: 10px;
}

.stream-link-from-database {
    width: 300px;
    padding: 5px;
    margin-bottom: 10px;
}

.stream-desc-from-database {
    width: 300px;
    height: 130px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #CADBEC;
    box-sizing: border-box;
    background-color: #CADBEC;
    border-radius: 5px;
}

.edit-icon-createstream{
    position: relative;
    color: #000; /* Adjust icon color as needed */
    /* font-size: 20px; Adjust icon size as needed */
    height: 20px;
    width: 20px;
    padding: 5px;
    background-color: #CADBEC;
    border-radius: 50%;
    border-style:dashed;
    border-width: 1px;
    cursor: pointer;
    top: -180px;
    right: 20px;
}
.edit-icon-paststream{
  position: relative;
  color: #000; /* Adjust icon color as needed */
  /* font-size: 20px; Adjust icon size as needed */
  height: 20px;
  width: 20px;
  padding: 5px;
  background-color: #CADBEC;
  border-radius: 50%;
  border-style:dashed;
  border-width: 1px;
  cursor: pointer;
  /* top: -180px; */
  right: 20px;
}
  .copy-button {
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    color: black;
    cursor: pointer;
    z-index: 999;
}

.container {
  width: 100%;
  height: 55vh;
  overflow-y: auto;
  white-space: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.scrollable-container {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(4, minmax(180px, 1fr));
  grid-gap: 15px;
  margin: auto;
}

.past-stream-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.past-streams-card {
  width: 180px;
  height: 250px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  background-color: #CADBEC;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  position: relative;
}

.past-streams-circle {
  position: absolute;
  /* Adjust the top and left properties to position the circle */
  top: -10px; /* Example value, adjust as needed */
  left: -10px; /* Example value, adjust as needed */
  width: 20px; /* Example value, adjust as needed */
  height: 20px; /* Example value, adjust as needed */
  border-radius: 50%;
  background-color: blue; /* Example color */
}

.past-streams-logo {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 40px;
  margin-top: 20px;
  /* border: #000 dashed; */
  position: relative;
  background-color: #007bff;
  z-index: 1;
  color: white;
  /* Inner shadow effect */
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); /* Adjust the values as needed */
}
.past-streams-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  color: white;
}

.past-streams-company-name {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.past-streams-rectangle {
  width: 100%; /* Full width */
  height: 100px; /* Adjust height as needed */
  /* background-color: #1e90ff; Your color */
  opacity: 0.5;
  border-bottom-left-radius: 20px; /* Same as card border-radius */
  border-bottom-right-radius: 20px; 
  border-top-left-radius: 20px; /* Same as card border-radius */
  border-top-right-radius: 20px; /* Same as card border-radius */
  position: absolute; /* Position at the top of the card */
  top: 0; /* Stick to the top */
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

/* .currentstream-main{
    
} */


/* Dropdown code updated start from here */

.navbar-dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent; /* Make navbar transparent */
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;

}

.navbar-dashboard-right{
  display: flex;
  align-items: center;
}

.navbar-logo-dashboard img {
    height: 30px;
    margin-right: 10px;
    margin-top: 0px;
}


.dropdown {
  position: relative;
  border-radius: 50px;
  background-color: #E5E5E5;
  width: 36px;
  height: 30px;
  align-items: center;
  padding-top: 5px;
  cursor: pointer;
}

.dropdown-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.dropdown-toggle.active {
  border-radius: 50%;
  background-color: #E5E5E5; /* Highlight when dropdown is open */
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 2px solid white;
  border-radius: 5px;
  padding: 6px 0;
  width: 70px;
  height: 50px;
  align-items: center;
  align-self: center;
}

.dropdown-option {
  background-color: white;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  width: 100%;
  text-align: left;
  background-color: white;
}

.dropdown-option:hover,
.dropdown-option.highlighted {
  background-color: #E5E5E5; /* Highlight when hovered or selected */
}

.new-stream-button,
.dropdown {
  margin-left: 14px; /* Push the elements to the right by consuming all available space */
}



/* Dropdown code updated till here */


