/* :root { 
--gray_600:#9e896a; 
--blue_900:#0c21c1; 
--white_A700_7e:#ffffff7e; 
--blue_gray_100:#d9d9d9; 
--gray_500:#ababab; 
--blue_700:#3581b8; 
--gray_800:#4c4c4c; 
--gray_900:#000741; 
--gray_900_01:#191818; 
--gray_900_8d:#0b10238d; 
--black_900_3f:#0000003f; 
--gray_300:#e5e5e5; 
--gray_50:#fcfcfa; 
--black_900_1e:#0000001e; 
--black_900:#000000; 
--indigo_900:#1b4375; 
--blue_100:#bcddff; 
--white_A700:#ffffff; 
} */