/* CreateStream.css */

.stream-card-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }
  
  .stream-card {
    width: 700px;
    height: 320px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    border-radius: 10px;
    display: flex;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
  }
  
  .left-content {
    flex: 1;
    margin-right: 50px;
    justify-content: center;
  }
  
  .right-content {
    flex: 2;
    text-align: left !important;
    margin-top: 10px;
  }
  
  .logo-container {
    text-align: center;
    margin-bottom: 20px;
    justify-content: center !important;
    display: flex;
    /* border-style: dashed; */
  }
  
  .logo-placeholder {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #CADBEC; /* Placeholder background color */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
    /* border-style: dashed; */
    /* overflow: hidden; */
  }
  
  .logo-placeholder img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    font-size: 12px;
  }

  .edit-icon {
    position: absolute;
    color: #000; /* Adjust icon color as needed */
    /* font-size: 20px; Adjust icon size as needed */
    height: 20px;
    width: 20px;
    padding: 5px;
    background-color: #CADBEC;
    border-radius: 50%;
    border-style:dashed;
    border-width: 1px;
    cursor: pointer;
    margin-top: 100px;
    margin-left: 110px;
  }

  .message-container {
    background-color: #CADBEC;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
    width: 200px;
  }
  
  .message-container p {
    margin: 15px 0;
    font-size: 14px;
  }
  
  .content-container {
    display: flex;
    flex-direction: column;
  }
  
  .streamColorName{
    margin-top: 10px;
    margin-bottom: 25px;
    display: flex;
    /* vertical-align: middle; */
    flex-direction: row;
    align-items: center;
  }
  
 input{
    /* width: 50px; */
    padding: 10px;
    /* margin-bottom: 10px; */
    border: 1px solid #CADBEC;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #CADBEC;
    margin-right: 10px;
  }
  
  .stream-details textarea {
    width: 100%;
    padding: 10px;
    height: 100px;
    margin-bottom: 10px;
    border: 1px solid #CADBEC;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #CADBEC;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 10px;
  }
  
  .buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .eventbutton {
    width: 130px;
    background-color: #1B4375;
    color: #fff;
  }
  label{
    margin-right: 5px;
    font-style: italic;
    font-size: 14px;
  }
  .streamNameleft{
    width: 150px;
    flex: 1;
  }
  .streamColorRight{
    width: 37px;
    /* flex: 2; */
    cursor: pointer;
    height: 40px;
    padding: 2px !important;
  }
  

  .streamName, .streamColor{
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  /* Navbar.css */

#root {
    padding: 0 !important; /* Override root padding and set it to 0 */
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: #1B4375; /* Set background color of the whole screen */
    position: relative;
    height: 100%; /* Set the height of the body to 100% */
    overflow-y: auto;
  }
  
  .background {
    height: 100vh;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent; /* Make navbar transparent */
    padding: 20px;
  }
  
  .navbar-logo img {
    height: 40px;
  }
  
  .navbar-profile {
    position: relative;
    cursor: pointer;
  }
  
  .profile-icon {
    width: 40px;
    height: 40px;
    background-color: #fff; /* Example background color for profile icon */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
  }
  
  .profile-icon svg {
    color: #333; /* Example icon color */
  }
  
  .profile-icon.active {
    background-color: #ddd; /* Example background color when active */
  }
  
  .profile-popup {
    position: absolute;
    top: 50px; /* Adjust position as needed */
    right: 0;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    z-index: 999;
  }
  
  .profile-popup ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .profile-popup ul li {
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .profile-popup ul li:hover {
    background-color: #a8a7a7;
    border-radius: 4px;
  }
  
  .image-corner-right {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  .image-corner-right img {
    width: 600px; /* Make the image responsive */
    /* max-width: 450px; */
    height: 425px; /* Maintain aspect ratio */
  }
  .image-corner-left {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .image-corner-left img {
    width: 300px; /* Make the image responsive */
    max-width: 400px; /* Ensure the image does not exceed its container */
    height: auto; /* Maintain aspect ratio */
  }

  .generate-stream-text{
    position: relative;
    color: #CADBEC;
    font-size: 40px;
    margin-top: 20px;
    padding-bottom: 20px;
  }
  
  
  /* Responsive styles for smaller screens */
  /* @media screen and (max-width: 700px) {
    .navbar {
      flex-direction: row;
      padding: 10px;
      width: 400px; 
    }
  
    .navbar-logo img {
      height: 30px;
    }
  
    .profile-popup {
      top: 40px; 
    }
  
    .image-corner img {
      width: 250px;
      height: auto;
    }
  } */
  