/* InputField.css */

.input{
  color: #D9D9D9;
  background-color: #D9D9D9;
}

.input-field-style {
    width: 100%;
    padding: 4px;
    margin-bottom: 10px;
    border: 0;
    outline: 0;
    color: #000842;

    border-bottom: 1px solid #000842;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-size: small;
    box-sizing: border-box;
    margin-bottom: 20px;
    color: #000842;
    background-color: #D9D9D9;
    
  
  }
  